$lt-gray: #ddd;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-dark: #512DA8;
$background-red: #ff1c03;
$head-text-green: #27db87;
$head-text-yellow: #fac907;
$carousel-item-height: 500px;
$carousel-item-transition: 500px;
$impo-button: #e8a005;
$card-content-color: #d3ff6b;

@mixin no-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron{
    @include no-margin(70px, 30px);
    background-image: linear-gradient($head-text-yellow, $background-red);
    color: #fffad1;
    font-family: 'Muli', sans-serif;
}

.navbar-dark{
    background-image: linear-gradient($background-red, $head-text-yellow);
    border-bottom: 1px inset $lt-gray;
    font-family: 'Muli', sans-serif;
}

.body{
    z-index: 0;
    padding: 0px 0px 0px 0px;
}

.breadcrumb{
    margin-top: 10px;
}

.maincontent{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

p{
    padding-bottom: 10px;
}

a button{
    background-color: $impo-button !important;
}

.column{
    float: left;
    width: 50%;
}

a button{
    font-family: 'Muli', sans-serif;
    width: 50%;
    height: 60px;
    background-color: rgb(68,57,191) !important;
    font-family: 'Muli', sans-serif;
    font-size: x-large;
    color: white !important;
    border: none;
    transition: width 0.5s, height 0.5s;
}

a button:hover{
    background-color: rgb(36,41,46) !important;
    height: 80px;
    width: 55%;
}

i{
    margin-right: 10px;
}