.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-image: linear-gradient(#fac907, #ff1c03);
  color: #fffad1;
  font-family: 'Muli', sans-serif; }

.navbar-dark {
  background-image: linear-gradient(#ff1c03, #fac907);
  border-bottom: 1px inset #ddd;
  font-family: 'Muli', sans-serif; }

.body {
  z-index: 0;
  padding: 0px 0px 0px 0px; }

.breadcrumb {
  margin-top: 10px; }

.maincontent {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px; }

h2 {
  padding-top: 20px;
  padding-bottom: 20px; }

p {
  padding-bottom: 10px; }

a button {
  background-color: #e8a005 !important; }

.column {
  float: left;
  width: 50%; }

a button {
  font-family: 'Muli', sans-serif;
  width: 50%;
  height: 60px;
  background-color: #4439bf !important;
  font-family: 'Muli', sans-serif;
  font-size: x-large;
  color: white !important;
  border: none;
  transition: width 0.5s, height 0.5s; }

a button:hover {
  background-color: #24292e !important;
  height: 80px;
  width: 55%; }

i {
  margin-right: 10px; }
