$lt-gray: #ddd;
$tile-head-colour: rgb(210,191,150);
$background-apex-red: rgb(106,33,40);
$head-text-white: white;
$background-apex-white: rgb(251,246,241);
$carousel-item-height: 500px;
$carousel-item-transition: 500px;
$head-text-crimson: rgb(71,23,27);
$card-content-color: #d3ff6b;

@mixin no-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron{
    @include no-margin(70px, 30px);
    // background-image: url("../img/Rocket-League-Car.jpg");
    // background-size: cover;
    color: $head-text-white;
}

.MK11-head-text{
    background: rgba(106,33,40,0.6);
    border-radius: 25px;
}

.navbar-dark{
    background-image: linear-gradient($background-apex-white, $background-apex-red);
    border-bottom: 1px inset $lt-gray;
}

.navbar .nav-link{
    color: $head-text-white !important;
}

.navbar .nav-link:hover{
    color: $background-apex-white !important;
}

.body{
    z-index: 0;
    padding: 0px 0px 0px 0px;
}

.breadcrumb{
    margin-top: 10px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

p{
    padding-bottom: 10px;
}

.carousel{
    // background: rgba(211, 255, 107 , 0.7);
    .carousel-item{
        // height: $carousel-item-height;
            img{
                position: relative;
                max-height: 600px;
                // max-width: 1300px;
            }
    }  
}

.indexcaro{
    margin-top: 15px;
}

.breadcrumb{
    background-color: rgb(249,244,239);
}

.breadcrumb a{
    color: $lt-gray;
}

.breadcrumb .breadcrumb-item{
    color: $head-text-white;
}

.Mortal-Kombat-Content{
    background: linear-gradient(rgb(50,9,8),rgb(19,19,19));
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 1px solid $head-text-crimson;
}

.Mortal-Kombat-Content h3{
    border-bottom: 3px solid rgb(254,251,250);
    color: $tile-head-colour;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.Mortal-Kombat-Content p{
    color: grey;
}

iframe{
    border-radius: 20px;
    width: 687px;
    height: 315px;
    margin-bottom: 10px;
}

.hasmedia{
    border-bottom: 2px solid rgb(254,251,250);
}

@media only screen and (max-width: 468px) {
    iframe{
        width: 360px;
        height: 220px;        
    }
}

.imggallery{
    text-align: center;
    background: linear-gradient(rgb(50,9,8),rgb(19,19,19));
    border-radius: 25px;
    border: 1px solid $head-text-crimson;
    color: $tile-head-colour;
}

.gameimgcaro{
    margin-top: 20px;
    width: 100%;
}

@media only screen and (min-width: 768px){
    .gameimgcaro{
        margin-left: 150px;
        width: 100%;
    }

    .carousel-control-next{
        margin-right: 240px;
    }

    .carousel-indicators{
        margin-right: 470px;
    }
}

.Verdict{
    text-align: center;
    background: linear-gradient(rgb(50,9,8),rgb(19,19,19));
    border-radius: 25px;
    border: 1px solid $head-text-crimson;
    color: $tile-head-colour;
    margin-top: 20px;
    margin-bottom: 10px;
}