.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  color: white; }

.Apex-Legends-head-text {
  background: rgba(106, 33, 40, 0.6);
  border-radius: 25px; }

.navbar-dark {
  background-image: linear-gradient(#fbf6f1, #6a2128);
  border-bottom: 1px inset #ddd; }

.navbar .nav-link {
  color: white !important; }

.navbar .nav-link:hover {
  color: #6a2128 !important; }

.body {
  z-index: 0;
  padding: 0px 0px 0px 0px; }

.breadcrumb {
  margin-top: 10px; }

h2 {
  padding-top: 20px;
  padding-bottom: 20px; }

p {
  padding-bottom: 10px; }

.carousel .carousel-item img {
  position: relative;
  max-height: 600px; }

.indexcaro {
  margin-top: 15px; }

.breadcrumb {
  background-color: #f9f4ef; }

.breadcrumb a {
  color: black; }

.breadcrumb .breadcrumb-item {
  color: #6a2128; }

.Apex-Legends-Content {
  background: rgba(76, 71, 75, 0.6);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 1px solid #47171b; }

.Apex-Legends-Content h3 {
  border-bottom: 3px solid #fbfbfd;
  color: #fbfbfd;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center; }

.Apex-Legends-Content p {
  color: #b2b4c2; }

iframe {
  border-radius: 20px;
  width: 687px;
  height: 315px;
  margin-bottom: 10px; }

.hasmedia {
  border-bottom: 2px solid #fefbfa; }

@media only screen and (max-width: 468px) {
  iframe {
    width: 360px;
    height: 220px; } }

.imggallery {
  text-align: center;
  background: rgba(76, 71, 75, 0.6);
  border-radius: 25px;
  border: 1px solid #47171b;
  color: #fbfbfd; }

.gameimgcaro {
  margin-top: 20px;
  width: 100%; }

@media only screen and (min-width: 768px) {
  .gameimgcaro {
    margin-left: 150px;
    width: 100%; }
  .carousel-control-next {
    margin-right: 240px; }
  .carousel-indicators {
    margin-right: 470px; } }

.Verdict {
  text-align: center;
  background: rgba(76, 71, 75, 0.6);
  border-radius: 25px;
  border: 1px solid #47171b;
  color: #fbfbfd;
  margin-top: 20px;
  margin-bottom: 10px; }
