$lt-gray: #ddd;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-dark: #512DA8;
$background-red: #ff1c03;
$head-text-green: #27db87;
$head-text-yellow: #fac907;
$carousel-item-height: 500px;
$carousel-item-transition: 500px;
$impo-button: #e8a005;
$card-content-color: #d3ff6b;

@mixin no-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron{
    @include no-margin(70px, 30px);
    background-image: linear-gradient($head-text-yellow, $background-red);
    color: #fffad1;
    font-family: 'Muli', sans-serif;
}

.navbar-dark{
    background-image: linear-gradient($background-red, $head-text-yellow);
    border-bottom: 1px inset $lt-gray;
    font-family: 'Muli', sans-serif;
}

div #FeaturedButton{
    float: right;
}

@media only screen and (max-width: 768px) {
    div #FeaturedButton{
        float: none;
    }
}

.body{
    z-index: 0;
    padding: 0px 0px 0px 0px;
}

.breadcrumb{
    margin-top: 10px;
    font-family: 'Muli', sans-serif;
}

.maincontent{
    background-color: rgba(211, 255, 107, 0.5);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Muli', sans-serif;
}

p{
    padding-bottom: 10px;
    font-family: 'Muli', sans-serif;
}

.indexcaro{
    margin-top: 15px;
}

.column{
    float: left;
    width: 50%;
}

.card{
    padding-bottom: 0px;
    background-color: rgba(113, 204, 8, 0.7);
    border-radius: 10px;
    height: auto;
    margin-top: 0px;
    font-family: 'Muli', sans-serif;
}

.Nintendo .card{
    padding-bottom: 0px;
    background-color: rgba(113, 204, 8, 0.7);
    border-radius: 10px;
    height: auto;
    margin-top: 5px;
    font-family: 'Muli', sans-serif;
}

.Nintendo .consolestitle{
    background-color: $background-red;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Muli', sans-serif;
}

.consolestitle{
    background-color: $background-red;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Muli', sans-serif;
}

.consolestitle h3{
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.consoles-section{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 5px solid whitesmoke;
}

.consoles-section img{
    width: 100%;
    height: 320px;
    border-radius: 25px;
}

.consolegame{
    text-decoration: none !important;
    color: white;
    font-family: 'Muli', sans-serif;
}

.consolegame:hover{
    color: rgb(238,81,47);
}

.linkgame{
    color: black !important;
    text-decoration: none !important;
    font-family: 'Muli', sans-serif;
}

.linkgame:hover{
    color: blue !important;
}

.log{
    color: cornflowerblue !important;
    font-family: 'Muli', sans-serif;
}

.gt{
    color: purple;
    font-family: 'Muli', sans-serif;
}

.ovr{
    color: rebeccapurple;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}