.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  color: #f5d400; }

.navbar-dark {
  background-image: linear-gradient(#0040c9, black);
  border-bottom: 1px inset #ddd; }

.body {
  z-index: 0;
  padding: 0px 0px 0px 0px; }

.breadcrumb {
  margin-top: 10px; }

h2 {
  padding-top: 20px;
  padding-bottom: 20px; }

p {
  padding-bottom: 10px; }

.carousel .carousel-item img {
  position: relative;
  max-height: 600px; }

.indexcaro {
  margin-top: 15px; }

.breadcrumb {
  background-color: #0040c9; }

.breadcrumb a {
  color: #f5d400; }

.breadcrumb .breadcrumb-item {
  color: #e8a005; }

.Rocket-League-Content {
  background-color: rgba(3, 177, 252, 0.8);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  border: 1px solid #e8a005; }

.Rocket-League-Content h3 {
  border-bottom: 3px solid gray;
  color: #f5d400;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center; }

.Rocket-League-Content p {
  color: white; }

iframe {
  border-radius: 20px;
  width: 565px;
  height: 315px; }

.hasmedia {
  border-bottom: 2px solid whitesmoke; }

@media only screen and (max-width: 468px) {
  iframe {
    width: 360px;
    height: 220px; } }
