$lt-gray: #ddd;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-dark: #512DA8;
$background-darkblue: #0040c9;
$head-text-yellow: #f5d400;
$background-black: black;
$carousel-item-height: 500px;
$carousel-item-transition: 500px;
$head-text-light-orange: #e8a005;
$card-content-color: #d3ff6b;

@mixin no-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron{
    @include no-margin(70px, 30px);
    background-image: url("/img/Rocket-League-Car.jpg");
    background-size: cover;
    color: $head-text-yellow;
}

.navbar-dark{
    background-image: linear-gradient($background-darkblue, $background-black);
    border-bottom: 1px inset $lt-gray;
}

.body{
    z-index: 0;
    padding: 0px 0px 0px 0px;
}

.breadcrumb{
    margin-top: 10px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

p{
    padding-bottom: 10px;
}

.carousel{
    // background: rgba(211, 255, 107 , 0.7);
    .carousel-item{
        // height: $carousel-item-height;
            img{
                position: relative;
                max-height: 600px;
                // max-width: 1300px;
            }
    }  
}

.indexcaro{
    margin-top: 15px;
}

.breadcrumb{
    background-color: $background-darkblue;
}

.breadcrumb a{
    color: $head-text-yellow;
}

.breadcrumb .breadcrumb-item{
    color: $head-text-light-orange;
}

.Rocket-League-Content{
    background-color: rgba(3, 177, 252, 0.8);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid $head-text-light-orange;
}

.Rocket-League-Content h3{
    border-bottom: 3px solid gray;
    color: $head-text-yellow;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.Rocket-League-Content p{
    color: white;;
}

iframe{
    border-radius: 20px;
    width: 565px;
    height: 315px;
}

.hasmedia{
    border-bottom: 2px solid whitesmoke;
}

@media only screen and (max-width: 468px) {
    iframe{
        width: 360px;
        height: 220px;        
    }
}