$lt-gray: #ddd;
$background-red: #ff1c03;
$head-text-yellow: #fac907;
$impo-button: #e8a005;

@mixin no-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron{
    @include no-margin(70px, 30px);
    background-image: linear-gradient($head-text-yellow, $background-red);
    color: #fffad1;
    font-family: 'Muli', sans-serif;//Adding custom google fonts using this script.
}

.navbar-dark{
    background-image: linear-gradient($background-red, $head-text-yellow);//Adds gradient effect
    border-bottom: 1px inset $lt-gray;
    font-family: 'Muli', sans-serif;
}

div #FeaturedButton{//Ensuring that the button is to the far right
    float: right;
}

@media only screen and (max-width: 768px) {
    div #FeaturedButton{
        float: none;//This lets the button appear at the bottom rather than on the right only for small screens
    }
}

.body{
    z-index: 0;//Setting z- index priority.
    padding: 0px 0px 0px 0px;
}

.breadcrumb{
    margin-top: 10px;
    font-family: 'Muli', sans-serif;
}

.maincontent{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#FeaturedButton{
    font-size: larger;
    width: 200px;
    height: 70px;
    transition: width 0.5s, height 0.5s;//Adding button transition effect
}

#FeaturedButton:hover{//Transition effect to trigger when mouse hovers over the button
    width: 220px;
    height: 80px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Muli', sans-serif;
}

p{
    padding-bottom: 10px;
    font-family: 'Muli', sans-serif;
}

.carousel{
    margin-top: 10px;
    .carousel-item{
            img{
                position: relative;
                max-height: 600px;
                border-radius: 25px;
            }
    }  
}

a button{
    background-color: $impo-button !important;//Forcing bootstrap to change button colour using !important keyword.
    font-family: 'Muli', sans-serif;
}

.column{
    float: left;
    width: 50%;
}

.card{
    padding-bottom: 0px;
    background-color: rgba(113, 204, 8, 0.7);
    border-radius: 25px;
    height: 270px;
    font-family: 'Muli', sans-serif;
}

.gametitle{
    background-color: $background-red;
    border-radius: 10px;
    margin-top: 10px;
}

.gametitle h3{
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.game-section{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 5px solid whitesmoke;
}

.game-section img{
    width: 100%;
    height: 320px;
    border-radius: 25px;
}

.carotitle{
    margin-top: 10px;
    text-align: center;
    background-image: linear-gradient($background-red, $head-text-yellow);
    border-radius: 25px;
    font-family: 'Muli', sans-serif;
    border: 1px solid $background-red;
    color: white;
}

.caropara{
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    font-family: 'Muli', sans-serif;
    padding: 5px;
}

.revamp{
    margin-bottom: 10px;
}