.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-image: linear-gradient(#fac907, #ff1c03);
  color: #fffad1; }

.navbar-dark {
  background-image: linear-gradient(#ff1c03, #fac907);
  border-bottom: 1px inset #ddd; }

div #FeaturedButton {
  float: right; }

@media only screen and (max-width: 768px) {
  div #FeaturedButton {
    float: none; } }

.body {
  z-index: 0;
  padding: 50px 0px 0px 0px; }

.breadcrumb {
  margin-top: 10px; }

.maincontent {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px; }

#FeaturedButton {
  font-size: larger;
  width: 200px;
  height: 70px;
  transition: width 0.5s, height 0.5s; }

#FeaturedButton:hover {
  width: 220px;
  height: 80px; }

h2 {
  padding-top: 20px;
  padding-bottom: 20px; }

p {
  padding-bottom: 10px; }
