.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-image: linear-gradient(#fac907, #ff1c03);
  color: #fffad1;
  font-family: 'Muli', sans-serif; }

.navbar-dark {
  background-image: linear-gradient(#ff1c03, #fac907);
  border-bottom: 1px inset #ddd;
  font-family: 'Muli', sans-serif; }

div #FeaturedButton {
  float: right; }

@media only screen and (max-width: 768px) {
  div #FeaturedButton {
    float: none; } }

.body {
  z-index: 0;
  padding: 0px 0px 0px 0px; }

.breadcrumb {
  margin-top: 10px;
  font-family: 'Muli', sans-serif; }

.maincontent {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px; }

#FeaturedButton {
  font-size: larger;
  width: 200px;
  height: 70px;
  transition: width 0.5s, height 0.5s; }

#FeaturedButton:hover {
  width: 220px;
  height: 80px; }

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Muli', sans-serif; }

p {
  padding-bottom: 10px;
  font-family: 'Muli', sans-serif; }

.carousel {
  margin-top: 10px; }
  .carousel .carousel-item img {
    position: relative;
    max-height: 600px;
    border-radius: 25px; }

a button {
  background-color: #e8a005 !important;
  font-family: 'Muli', sans-serif; }

.column {
  float: left;
  width: 50%; }

.card {
  padding-bottom: 0px;
  background-color: rgba(113, 204, 8, 0.7);
  border-radius: 25px;
  height: 270px;
  font-family: 'Muli', sans-serif; }

.gametitle {
  background-color: #ff1c03;
  border-radius: 10px;
  margin-top: 10px; }

.gametitle h3 {
  color: white;
  text-align: center;
  font-family: 'Muli', sans-serif; }

.game-section {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 5px solid whitesmoke; }

.game-section img {
  width: 100%;
  height: 320px;
  border-radius: 25px; }

.carotitle {
  margin-top: 10px;
  text-align: center;
  background-image: linear-gradient(#ff1c03, #fac907);
  border-radius: 25px;
  font-family: 'Muli', sans-serif;
  border: 1px solid #ff1c03;
  color: white; }

.caropara {
  margin-top: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  font-family: 'Muli', sans-serif;
  padding: 5px; }
